nav{
	border: 2px solid black;
	background: #ccc;
	padding: 2px;
	margin-bottom: 20px;
}
#body{
	display: flex;
	width: 100%;
}
aside{
	flex: 0 0 23%;
	min-width: 140px;
	max-width: 150px;
	border: 2px solid black;
	background: #eee;
	padding: 2px;
	margin-right: 20px;
}
article{
	width: 100%;
	border: 2px solid black;
	background: #fff;
	padding: 2px;
}
footer{
	border: 2px solid black;
	background: #ccc;
	padding: 2px;
	margin-top: 20px;
}
#sample_list, #pack_list{
	display: block;
	border: 2px solid black;
	background: #ccc;
	padding: 2px;
}
#article_list, #learn_list{
	display: block;
	border: 2px solid black;
	background: #ccc;
	padding: 2px;
}
#sample_player{
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 2px;
	background: black;
	width: 100%;
}